.title {
    color: black;
    text-align: center;
}

.title-div {
    margin-top: 0px;
    padding-top: 0px;
    margin: auto;
}

.slogan {
    color: black;
    border-bottom: solid black;
    text-align: center;
    padding-bottom: 10px;
}

.slogan-div {
    padding-top: 1vh;
}

.home-page {
    padding-left: 10%;
    padding-right: 10%;
}